.sectionMain {
  width: 100%;
}
.sectionMain1 {
}
.sectionMain1Inner {
  padding: 4.5%;
}
.sectionMain1Heading {
  font-weight: bold;
}
.sectionMainMain2 {
  padding: 4.5%;
  padding-top: 0%;
  padding-bottom: 1%;
}
.sectionMain3Img {
  width: 90%;
  padding: 4.5%;
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}
.sectionMain3Text {
  display: flex;
  justify-content: space-between;
  padding: 4.5%;
  padding-top: 0%;
  padding-bottom: 2%;
}
.sectionMain3Text2 {
  padding-right: 2%;
}
.sectionMain4 {
}
.sectionMain4Heading {
  display: flex;
  flex-direction: column;
  padding: 4.5%;
  padding-top: 0%;
  padding-bottom: 1%;
}
.sectionMain4Heading1 {
  font-size: 22px;
  font-weight: bold;
}
.sectionMain4Heading2 {
  padding-top: 0.5%;
}
.sectionMain4Para {
  padding: 4.5%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.sectionMain4Text1 {
  padding: 4.5%;
  padding-top: 1%;
  font-weight: bold;
}
.sectionMain5Blocks {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
